html {
  background-color: lavenderblush;
}

.small-flags img {
  width: 3rem;
}

.small-flags table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
}

.reddie {
  color: red;
}