/* === CSS variables === */

:root {
  --theme-spacing-unit: 10pt;
  --theme-spacing-unit-x2: 20pt;
  --theme-palette-background-paper: #fff;
  --footer-height: 250px;
  --topbar-background-color: #556cd6;
  --topbar-color: #fff;
}

html {
  background-color: var(--theme-palette-background-paper);
}

article img {
  max-width: 100%;  
}

article figcaption {
  text-align: center;
  margin-top: 0.5rem;
  font-style: italic;
}

article blockquote {
  font-style: italic;
  margin-left: 0;
  padding-left: 0.5rem;
  border-left: 1px solid;
}


/* === Accidental styles used in some markdown files === */

.small-flags img {
  width: 3rem;
}

.small-flags table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
}

.reddie {
  color: red;
}

